<h1>Sessions#login</h1>
<p>Find me in app/views/sessions/login.html.erb</p>

<div>
  <% if @error %>
    <%= @error %>
  <% end %>
</div>
<div align = center>
  <%= form_tag("login", method: "get") do %>
    <%= label_tag(:q_username, "Username")%>
    <%= text_field_tag(:username) %><br>
    <%= label_tag(:q_password, "Password")%>
    <%= password_field_tag(:password) %><br>

    <%= submit_tag "Register", name: 'login_register_button'%>
    <%= submit_tag "Login", name: 'login_login_button'%>
  <% end %>

</div>
