<table class = 'table'>
  <thread>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Requirement</th>
      <th>Description</th>
      <th>Register</th>
    </tr>
  </thread>
  <tbody id = "result_content">
    <% @results.each do |s|%>
      <tr>
        <td><%=s.name%></td>
        <td><%=s.code%></td>
        <td><%=s.requirement%></td>
        <td><%=s.description%></td>
        <% if !registered?(s.id)%>
          <td><%= button_to 'Enroll',{:controller=>"user",:action=>"registration",:registration_course_id=>s.id},:remote=>true,:method=>:post %></td>
        <%else%>
          <td>Registered</td>
        <%end%>
      </tr>
    <%end%>
  </tbody>
</table>
