
<body>


  <div class="container">
    <% if session[:user_id]%>
      <div class="row" align="center">
        <h1>This is the HomePage</h1><br>
      </div>
      <div class = "row">
        <div id="content" class="col-xs-6">
          This should be a profile page <br>
          what should i put here? <br>

        </div>
        <div id = "middle link" class="col-xs-3">
          <p>Here are the links</p>
          <%= link_to "Courses", user_course_path %><br>
          <%= link_to "Subject", user_subject_path %><br>
          <%= link_to "Instructor", user_instructor_path %><br>
          <%= link_to "Search", user_search_path %><br>
        </div>
        <div id="sidebar" class="col-xs-3" >
          <%= link_to "Logout", sessions_logout_path %>
        </div>
      </div>
      <div class = "row">
        <h5>Here are the course you registered!</h5><br>
        <table class = 'table'>
          <thread>
            <tr>
              <th>Name</th>
              <th>Code</th>
              <th>Requirement</th>
              <th>Description</th>
            </tr>
          </thread>
          <tbody>
            <% @enrolls.each do |s|%>
              <tr>
                <td><%=s.name%></td>
                <td><%=s.code%></td>
                <td><%=s.requirement%></td>
                <td><%=s.description%></td>
              </tr>
            <%end%>
          </tbody>
        </table>
      </div>

    <% end %>


  </div>
<body>
